header {
    background-color: rgb(125, 164, 125);
}

body {
    background-color: rgb(214, 177, 28);
}

.estudante-div {
    text-align: center;
    padding: 50px 0;
}

.estudante-titulo {
    text-align: center;
    padding: 11px 0;
}

.estudante-imagem {
    width: 30%;              /*cuidado com SEU tamanho*/
}

.estudante-ícone {
    width: 50px;
    padding: 4px 8px;
}

h1, h2, h3 {
    color: #3771ed;
    font-weight: 700;
}

a:hover {
    color: red;
}

footer {
    background-color: darkgrey;
}

.rodape {
    background-color: #000000;
    color: white;
    text-align: center;
}